<footer>
    <div class="newsletter">
        <div class="layout">
            <form action="">
                <p>Eu quero ter o padmoney no meu negócio <a href="#" class="btn blue">Cadastrar</a></p>
            </form>
        </div>
    </div>
    <div class="menu">
        <div class="layout">
            <div class="coluna">
                <img src="/assets/img/logo-padmoney-white.png" alt="Logo Padmoney">
                <p>Gestão de pagamentos online com as melhores taxas do mercado</p>
                <ul class="social">
                    <li><a href="https://www.facebook.com/padmoneyoficial" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC96_hn-hBt-S3R_S-xCE7iA" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://twitter.com/padmoneyoficial" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/padmoney" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/padmoneyoficial/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="coluna">
                <p class="titulo">Padmoney</p>
                <ul class="menu">
                    <li> <a href="{{site.url_site}}">Home</a> </li>
                    <li> <a href="{{site.url_site}}/quem-somos">Conheça o Padmoney</a> </li>
                    <li> <a href="{{site.url_site}}/faq">Precisa de Ajuda?</a> </li>
                    <li> <a href="{{site.url_site}}/afiliados">Seja um Afiliado</a> </li>
                    <li> <a href="{{site.url_site}}/seguranca-fraude">Segurança e Fraudes</a> </li>
                    <li> <a href="{{site.url_site}}/contato">Contato</a> </li>
                    <li> <a href="https://developers.padmoney.com">Integração</a> </li>
                </ul>
            </div>
            <div class="coluna">
            </div>
            <div class="coluna">
                <p class="titulo">Categorias</p>
                <ul class="menu">
                    {% for category in site.data.categories %}
                    <li><a href="/{{category.slug}}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="layout">
            <p>Padmoney &copy; 2018. Conheça nossa <a href="{{ site.url_site }}/politica-de-privacidade">Política de
                    Privacidade</a></p>
        </div>
    </div>
</footer>

<div class="modal-box" id="menu">
    <a href="#" class="close"><i class="fas fa-times"></i></a>
    <img src="/assets/img/logo-padmoney-white.png" alt="Logo Padmoney">
    <nav>
        <ul>
            <li><a href="https://www.padmoney.com">Conheça o Padmoney</a></li>
            <li><a href="/administracao-financeira">Administração Financeira</a></li>
            <li><a href="/gestao-e-negocios">Gestão e Negócios</a></li>
        </ul>
    </nav>
</div>

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assets/js/main.js"></script>