<footer>
    <div class="newsletter">
        <div class="layout">
            <form action="">
                <p>Eu quero ter o padmoney no meu negócio <a href="#" class="btn blue">Cadastrar</a></p>
            </form>
        </div>
    </div>
    <div class="menu">
        <div class="layout">
            <div class="coluna">
                <img src="/assets/img/logo-padmoney-white.png" alt="Logo Padmoney">
                <p>A mais completa plataforma de gestão de pagamentos on-line com as melhores taxas do mercado.</p>
                <ul class="social">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="coluna">
                <p class="titulo">Padmoney</p>
                <ul class="menu">
                    <li>
                        <a href="{{site.url_site}}">Home</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/quem-somos">Conheça o Padmoney</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/afiliados">Seja um Afiliado</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/seguranca-fraude">Segurança e Fraudes</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/termos-de-uso">Termos e Condições de Uso</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/politica-de-privacidade">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="{{site.url_site}}/contato">Contato</a>
                    </li>
                </ul>
            </div>
            <div class="coluna">
                <p class="titulo">Soluções</p>
                <ul class="menu">
                    <li>
                        <a href="{{site.url_site}}/boleto-registrado">Boletos Registrados</a>
                    </li>
                    <li>
                        <a href="pagamento-recorrente">Pagamento Recorrente</a>
                    </li>
                    <li>
                        <a href="boleto-em-lote">Boleto em Lote</a>
                    </li>
                    <li>
                        <a href="nota-fiscal">Nota Fiscal</a>
                    </li>
                    <li>
                        <a href="marketplace">Marketplace</a>
                    </li>
                    <li>
                        <a href="carteira-virtual">Carteira Virtual</a>
                    </li>
                    <li>
                        <a href="transferencia-bancaria">Transfêrencia Bancaria</a>
                    </li>
                    <li>
                        <a href="pagamento-de-contas">Pagamento de Conta</a>
                    </li>
                    <li>
                        <a href="quem-somos">Recarga de Celular</a>
                    </li>
                </ul>
            </div>
            <div class="coluna">
                <p class="titulo">Mais Soluções&nbsp;</p>
                <ul class="menu">

                    <li>
                        <a href="https://api.padmoney.com">Integração</a>
                    </li>
                    <li>
                        <a href="portal-do-cliente">Portal do Cliente</a>
                    </li>
                    <li>
                        <a href="grupo-empresarial">Grupo Empresarial</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="base">
        <div class="layout">
            <p>Copyright © 2018. Conheça nossa Política de privacidade.</p>
        </div>
    </div>
</footer>

<div class="modal-box" id="menu">
    <a href="#" class="close"><i class="fas fa-times"></i></a>
    <img src="/assets/img/logo-padmoney-white.png" alt="Logo Padmoney">
    <nav>
        <ul>
            <li><a href="/administracao-financeira">Administração Financeira</a></li>
            <li><a href="/gestao-e-negocios">Gestão e Negócios</a></li>
            <!-- <li><a href="#">Mais</a></li>
            <li><a href="#">Mais</a></li>
            <li><a href="#">Mais</a></li> -->
        </ul>
    </nav>
</div>

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assets/js/main.js"></script>