<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<div class="overlay"></div>

<header>
  <div class="layout">
    <a href="/index" class="logo hidden"><img src="/assets/img/logo-padmoney.png" alt="Logo Padmoney"></a>

    <nav class="menu_blog hidden">
      <ul>
        <li><a href="https://www.padmoney.com">Conheça o Padmoney</a></li>
        <li class="has-dropdown">
          <a href="">Categorias</a>
          <ul>
            {% for category in site.data.categories %}
            <li><a href="/{{category.slug}}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="{{ site.url_signup }}" class="btn blue">Cadastre-se</a></li>
      </ul>
    </nav>
    <a href="#" class="modal-trigger" data-id="menu"><i class="fas fa-bars"></i></a>
  </div>
</header>