<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title | append: " - Padmoney" }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="author" content="Padmoney" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="{% if page.title %}{{ page.title | append: " - Padmoney" }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:image" content="/assets/img/og-image.png" />
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="{% if page.title %}{{ page.title | append: " - Padmoney" }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:type" content="blog" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="/assets/img/og-image.png" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title | append: " - Padmoney" }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,700|Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css">
<script type="application/ld+json">
    {
        "@type": "WebPage",
        "headline": "{% if page.title %}{{ page.title | append: " - Padmoney " }}{% else %}{{ site.title }}{% endif %}",
        "url": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}",
        "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}",
        "@context": "http://schema.org"
    }
</script>
<script type="text/javascript">
    var _egoiwp = _egoiwp || {};
    (function () {
        var u = "https://cdn-static.egoiapp2.com/";
        _egoiwp.code = "d91b46ce403171b456adfddb0ac02767";
        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = u + 'webpush.js';
        s.parentNode.insertBefore(g, s);
    })();
</script>