---
layout: default
---

<h2>{% for category in site.data.categories %}{% if page.tag == category.slug %}{{ category.name }}{% endif %}{% unless
    forloop.last %}&nbsp;{% endunless %}{% endfor %}</h2>

<div class="wrap">
    {% for post in site.categories[page.tag] %}
    <a href="{{ post.url }}" class="noticia">
        <span class="foto">
            <img src="/assets/img/posts/{{ post.image | default: "default.jpg" }}" alt="">
            <p class="tag empresarial">
                {% for post_category in post.categories %}
                {% for category in site.data.categories %}
                {% if post_category == category.slug %}{{ category.name }}{% endif %}
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
                {% endfor %}
            </p>
        </span>
        <span class="texto">
            <p class="titulo">{{ post.title }}</p>
            <p class="descricao">{{ post.subtitle }}</p>
            <p class="data">{{ post.date | date: "%d/%m/%Y" }}</p>
        </span>
    </a>
    {% endfor %}
</div>